<template>
  <div class='dashboard-container'>
    <div class='dashboard-editor-container'>
      {{message}}
      <github-corner class='github-corner' />

      <panel-group @handleSetLineChartData='handleSetLineChartData' />

      <el-row style='background:#fff;padding:16px 16px 0;margin-bottom:32px;'>
        <line-chart :chart-data='lineChartData' />
      </el-row>
      <el-row :gutter='32'>
        <el-col :xs='24' :sm='24' :lg='8'>
          <div class='chart-wrapper'>
            <radar-chart />
          </div>
        </el-col>
        <el-col :xs='24' :sm='24' :lg='8'>
          <div class='chart-wrapper'>
            <pie-chart />
          </div>
        </el-col>
        <el-col :xs='24' :sm='24' :lg='8'>
          <div class='chart-wrapper'>
            <bar-chart />
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import GithubCorner from '@/components/GithubCorner'
import PanelGroup from './dashboard/PanelGroup'
import LineChart from './dashboard/LineChart'
import RadarChart from '@/components/Echarts/RadarChart'
import PieChart from '@/components/Echarts/PieChart'
import BarChart from '@/components/Echarts/BarChart'

const lineChartData = {
  newVisitis: {
    expectedData: [100, 120, 161, 134, 105, 160, 165],
    actualData: [120, 82, 91, 154, 162, 140, 145]
  },
  messages: {
    expectedData: [200, 192, 120, 144, 160, 130, 140],
    actualData: [180, 160, 151, 106, 145, 150, 130]
  },
  purchases: {
    expectedData: [80, 100, 121, 104, 105, 90, 100],
    actualData: [120, 90, 100, 138, 142, 130, 130]
  },
  shoppings: {
    expectedData: [130, 140, 141, 142, 145, 150, 160],
    actualData: [120, 82, 91, 154, 162, 140, 130]
  }
}

import SockJS from 'sockjs-client'
import Stomp from 'stompjs'

export default {
  name: 'Dashboard',
  components: {
    GithubCorner,
    PanelGroup,
    LineChart,
    RadarChart,
    PieChart,
    BarChart
  },
  data() {
    return {
      lineChartData: lineChartData.newVisitis,
      message: '',
      timer: ''
    }
  },
  beforeDestroy: function() {
    // 页面离开时断开连接,清除定时器
    this.disconnect()
    clearInterval(this.timer)
  },
  mounted() {
    this.initWebSocket()
  },
  methods: {
    handleSetLineChartData(type) {
      this.lineChartData = lineChartData[type]
    },
    initWebSocket() {
      this.connection()
      // let that = this
      // // 断开重连机制,尝试发送消息,捕获异常发生时重连
      // this.timer = setInterval(() => {
      //   try {
      //     that.stompClient.send('test')
      //   } catch (err) {
      //     console.log('断线了: ' + err)
      //     that.connection()
      //   }
      // }, 5000)
    },
    // 连接 后台
    connection() {
      // 建立连接对象
      // let socket = new SockJS(process.env.VUE_APP_WS_API + '/webSocket')
      let socket = new SockJS('http://localhost:8080/webSocket')
      // 获取STOMP子协议的客户端对象
      this.stompClient = Stomp.over(socket)
      // 定义客户端的认证信息,按需求配置
      let headers = {
        Authorization: ''
      }
      // 向服务器发起websocket连接
      this.stompClient.connect(headers, () => {
        this.stompClient.subscribe('/topic/sendTopic', (msg) => { // 订阅服务端提供的某个topic
          // console.log('广播成功')
          // msg.body存放的是服务端发送给我们的信息
          // console.log(msg.body)
          this.message = msg.body
        }, headers)
        // this.stompClient.send('/app/chat.addUser',
        //   headers,
        //   JSON.stringify({ sender: '', chatType: 'JOIN' }),
        // )
        // 用户加入接口
      }, (err) => {
        // 连接发生错误时的处理函数
        console.log('失败')
        console.log(err)
      })
    },
    disconnect() {
      if (this.stompClient) {
        this.stompClient.disconnect()
      }
    } // 断开连接
  }
}
</script>

<style rel='stylesheet/scss' lang='scss' scoped>
  .dashboard-editor-container {
    padding: 32px;
    background-color: rgb(240, 242, 245);
    position: relative;

    .github-corner {
      position: absolute;
      top: 0;
      border: 0;
      right: 0;
    }

    .chart-wrapper {
      background: #fff;
      padding: 16px 16px 0;
      margin-bottom: 32px;
    }
  }

  @media (max-width:1024px) {
    .chart-wrapper {
      padding: 8px;
    }
  }
</style>
